@page "/Session/{id}"
@using Microsoft.AspNetCore.Components.Sections
@using ScrumPoker.Web.Components.PokerSession

@rendermode InteractiveServer

<PageTitle>Session @ActiveSession?.Title</PageTitle>

<SectionContent SectionName="header">
    <div class="rz-display-flex rz-justify-content-between rz-align-items-center">
        <div style="font-weight:bold;margin-right:1rem;font-size:1rem">
            <span>SessionID: <a href="@navigation.Uri">@ActiveSession?.Id</a></span>
        </div>
        <RadzenButton Variant="Variant.Outlined" class="rz-ripple"
            Icon="share" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Base"
            Click=@Share />
    </div>
</SectionContent>

@if (ActiveSession != null && UserIsJoined)
{
    @if (!IsAdmin)
    {
        <h2>User: @(ActiveUser?.DisplayName ?? "Admin")</h2>
        <div class="estimate rz-display-flex rz-justify-content-center rz-row ">
            @foreach (var item in EstimateOptions)
            {
                <EstimateCard Value="@item" IsSelected=@(SelectedValue == item) OnSelected=@DoEstimate />
            }
        </div>
    }
    <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal"
        JustifyContent="JustifyContent.SpaceBetween">
        <h3>Session @ActiveSession?.Title</h3>
        @if (IsAdmin)
        {

            @if (ActiveSession.ActiveBacklog.Estimates.Any()){
                <RadzenButton Variant="Variant.Flat" class="action-button rz-ripple rz-margin-right-4"
                    ButtonType="ButtonType.Button" Icon="delete" Text="Delete Estimates" Size="ButtonSize.Medium"
                    ButtonStyle="ButtonStyle.Secondary" Click=@DeleteEstimates />

                <RadzenButton Variant="Variant.Flat" class="action-button rz-ripple rz-margin-right-4"
                    ButtonType="ButtonType.Button" Icon="visibility" Text="Delete Estimates" Size="ButtonSize.Medium"
                    ButtonStyle="ButtonStyle.Success" Click=@RevealResults />
            }
        }
    </RadzenStack>
    @if (ActiveSession.ActiveBacklog.Estimates.Any())
    {
        <div class="estimates">
            @foreach (var item in ActiveSession.ActiveBacklog.Estimates)
            {
                if (item.ParticipantId is null) continue;
                <Estimate Username="@item.DisplayName" Revealed=@ActiveSession.ActiveBacklog.IsRevealed Value="@item.Value" />
            }
        </div>
    }
    else
    {
        <div>
            <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" class="rz-mt-8">
                <div class="rz-my-10">
                    <ScrumPoker.Web.Components.Common.Loading  />
                </div>

                <RadzenText Text="Waiting others to join..." TextStyle="TextStyle.Subtitle1" class="rz-mt-12"/>
                <RadzenButton Variant="Variant.Filled" class="rz-ripple"
                    ButtonType="ButtonType.Button" Icon="share" Size="ButtonSize.Medium" Text="Copy joining link"
                    ButtonStyle="ButtonStyle.Info" Click=@Share />

            </RadzenStack>

        </div>
    }
}
